services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: lucas
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: DB_ORDER
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: