services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: lucas
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: DB_USER
    ports:
      - "5432:5432"
    volumes:
        - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: